.config-container{
   display:table;
}

.config-row{
   display:table-row;
}

.config-cell{
   display:table-cell;
   padding:10px;
   margin: 5px;
}

.config-input-container{
   display:table;
}

.config-input-row{
   display:table-row;
}

.config-input-buttons{
   padding: 50px 10px 10px 10px;
}

.config-input-cell{
   display:table-cell;
   padding:10px 25px 10px 10px;
   margin: 5px;
}

form.aui .field-group.confluence-support-remove-button-container {
   padding: 4px 0px 4px 0px;
}
